<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buena Onda</title>
</head>
<body>
    <h1>El grupo que es más buena onda es:
        <%= grupo%>
    </h1>
</body>
</html>